<!DOCTYPE HTML>

<html>
	<head>
		<title>DHoStel - </title>
    <link rel="icon" href="/static/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	  <body>
      <div class="sidenav">
        <img src="/static/logo.png">
        <a href="/">Home</a>
        <a href="/attendance">Attendance</a>
        <a href="/delete">Delete</a>
      </div>
      <div class="main">
        <h1>DHoStel</h1>
        <h2>Delete Meal Attendance</h2>
        <form action="/delete" method="POST" required>
          Enter Name:
          <input type="textbox" placeholder="Name" name="deletename" id="deletename" required/>
          <br /><br />
          <input type="submit" value="Submit"/>
        </form>
    </div>
	</body>
</html>