<!DOCTYPE HTML>

<html>
	<head>
		<title>DHoStel - Home</title>
    <link rel="icon" href="/static/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	  <body>
      <div class="sidenav">
        <img src="/static/logo.png">
        <a href="/">Home</a>
        <a href="/attendance">Attendance</a>
        <a href="/confirmdelete">Delete</a>
      </div>
      <div class="main">
        <h1>DHoStel</h1>
        <p>Welcome!</p>
        <p>Number of Students Attending Breakfast: {{ result1 }}</p>
        <p>Number of Students Attending Dinner: {{ result2 }}</p>
      </div>
	</body>
</html>
